  
  /* clearfix */
  .container:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- card-item ---- */
  
  .card-item {
    width: 280px;
    height: 200px;
    margin: 16px;
  }

.thumbnail {
    max-width: 384px;
    height: 256px;
    overflow: hidden;
}

@media(max-width:768px) {
    .thumbnail {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

/* stili per l'orario lezioni */

ol {
  list-style: none;
}

.tabellaorario {
  display: flex;
  color: #444;
}

.orario {
  margin: 3em 1em 0em 1em;
  width: 3em;
  height: 36em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.spc {
  top: 4px;
  display: table-cell; 
  vertical-align: middle;
  width: 3em;
  height: 6em;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
}

.settimana {
  margin: 0;
  display: -webkit-flex;
  display: flex;
  overflow-x: auto;
  padding: 0;
  width: 100%;
}

.giorno {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 0;
  min-width: calc(100.5% / 5); /* 5 giorni */
  transition: min-width 0.2s ease-in-out;
}

.nome {
  display: block;
  height: 3em;
  line-height: 3em;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
}

.ora {
  position: absolute;
  height: 6em;
  text-indent: 3px;
  width: 100%;
  color: white;
  border-bottom: 2px solid #ff7f6e;
}

/* 3em (giorni) + (height * hour) - 8 */

.ora_08 {
  top: 3em;
}

.ora_09 {
  top: 9em;
}

.ora_10 {
  top: 15em;
}

.ora_11 {
  top: 21em;
}

.ora_12 {
  top: 27em;
}

.ora_13 {
  top: 33em;
}

.ora_g_due { /* doppia grandezza */
  height: 12em;
}

.ora_g_tre { /* tripla grandezza */
  height: 18em;
}

.blu {
  background: #3498db;
}

.verde {
  background: #27ae60;
}

.rosso {
  background: #e74c3c;
}

.arancione {
  background: #e67e22;
}

.verde-acqua {
  background: #1abc9c;
}

.viola {
  background: #8e44ad;
}

@media (max-width: 768px) {
  .giorno {
    overflow-y: hidden;
    min-width: calc(100.5% / 3); /* 3 giorni */
  }
}



/* Master Detail Page  */

.master-item {
  font-size: 16px;
  border-bottom: 2px solid #4CD4B0;
  padding: 12px;
  background: white;
  color:#555; 
}

.text-center {
  text-align: center;
}
.master-item:hover, .active-item {
  background: #555;
  color: white;
  cursor: pointer
}

.master {
  border:none;
  box-sizing: border-box;
  height: 100vh;
}

.hidden-md {
  display: inline
}

.hidden-md-down {
  display:none
}

/* For phones: */
[class*="col-"] {
  width: 100%;
  float: left;
}

.detail{
  padding: 8px;
  padding-top: 24px;
  box-sizing: border-box;
  position: absolute;
  z-index: 11;
  color: #4CD4B0;
  height: 100vh;
  background: white
}

.md-container  {
  position: relative;
}

#back-btn {
  color: #4CD4B0;
  border: 1px solid #4CD4B0;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

#back-btn:hover {
  cursor: pointer;
  color: white;
  background: #4CD4B0;
}


/* For 786 and above: */
@media only screen and (min-width: 768px) {
 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .hidden-md {
      display: none;
  }

  .detail {
      position: static;
  }

  .master{
      border-right: 2px solid #555;
  }
}